.memecloud-popup {
    width: 780px;
    background-color: #35363a;
    color: #fff;
    font-weight: 500;
}

.memecloud-search-bar {
    text-align: right;
}

.memeSectionTitleDir {
    text-align: left;
    display: block;
    font-weight: 500;
}

.flexItemsParent {
    display: grid !important;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr)) !important;
}

.directoryImgDiv {
    width: 20%;
    float: left;
    padding: 5px 8px;
}

.directoryImg {
    float: left;
    color: #fff;
}

.dirRoute, .dirRoute:hover {
    color: #fff;
}

.dirItem {
    background-color: #17252A;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    cursor: pointer;
}

.directoryPathNameDiv {
    float: left;
    display: flex;
    align-items: center;
    pointer-events: none;
    font-size: 14px;
}

.singleMemeImg {
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pathItemMeme {
    height: 150px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 0 2px 2px rgba(0,0,0,0.15), 0 4px 4px rgba(0,0,0,0.15), 0 8px 8px rgba(0,0,0,0.15);
    background-color: #17252A;
}

.pathItemMemeDiv {
    height: 120px;
    overflow: hidden;
    position: relative;
    margin-bottom: -1px;
}

.directoryMemeNameDiv {
    width: 100%;
    padding: 5px 5px;
    float: left;
    background-color: #17252A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: center;
}

a {
    text-decoration: none;
}

.memeCloud-addbtn{
    background-color: #003399;
    color: #002266;
    font-weight: bolder;
    position: absolute;
    top: 3px; 
    right: 3px;
    border-radius: 4px;
    padding: 0 4px;
    cursor: copy;
}

.memeCloud-homeButton {
    float: left;
}

.memeCloud-addbtn:hover{
    background-color: #0055ff;
    color: #80aaff;
}


#memeCloud{
    z-index: 99999;
    color:white; 
    width: 360px;
    position: fixed; 
    top: 0;
}


.memeCloud-panel {
    width: 320px;
    position: absolute;
    left: 40px;
    top: 0;
    background-color: #333;
    height: 100vh;
    text-align: center;
    overflow: scroll;
}

.memeCloud-logo {
    width: 100px;
    margin-top: 15px;
    transform: rotate(20deg);
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.memeCloud-form > * {
    margin-top: 5px;
}

.memeCloud-formfield {
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #090;
}

.memeCloud-formfield:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #c00;
}

.memeCloud-btn {
    color: #fff;
    background-color: #003399;
    border: none;
    padding: 5px;
}

.memeCloud-memeContainer {
    margin: 5px;
}

.memeCloud-memeContainer > img {
    margin-top: 2vh;
    width: 200px;
    height: 150px;
}

.memeCloud-nav {
    display: flow-root;
}

.memeCloud-backButton {
    margin-left: 0.5rem;
    float: left;
}

.memeCloud-logoutButton {
    float: right;
}

.memeCloud-localizations {
    overflow: auto;
    text-align: left;
    max-height: 10vh;
}

.memeCloud-directory {
    display: inline-block;
}

.memeCloud-directorySettings {
    float: right;
}

#memeCloud-canvas {
    display: none;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content {
    background-color: inherit;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#myBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* header styles */
.header-buttons {
    background-color: #17252A;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}

.searchBar {
    display: none;
}

.searchBarInput {
    min-width: 300px;
    color: #fff !important;
    font-size: 16px !important;
    background-color: #17252A !important;
    border: none !important;
    outline: none;
    padding: 0 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
}